@import "bootstrap";


:root {
    --primary-color: hsl(155, 100%, 27%);
    --primary-dark-color: #02ab48;
    --primary-light-color: #55b605;
    --accent-color: #0e2e50;

    --white: #EFFDF5;
    --neutral: #666565;
}

.bg-primary-col {
    color: var(--primary-color);
}

body {
    background-color: black;
    color: white;
    margin-top: 200px;
}

.title-container {
    text-align: center;
}

h2{
    margin: 50px;
}

p{
    font-size: large;
}

.article-title{
    color: green;
    font-weight: bold;
}



/* navbar */

.nav-cus {
    margin: 5vh 10vw;
    border-radius: 10px;
    border: 2px solid var(--primary-light-color);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.navbar-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.custom-link1 {

    color: green;
}

.custom-link2 {

    color: white;
}

.custom-link3 {
    color: red;
}




/* header */
.main-title-box {

    color: white;
    text-align: center;
    margin-top: 200px;
    background-color: black;
    width: 100%;
}


.main-title {
    font-size: calc(30px + 8vw);
    letter-spacing: 2vw;
    text-shadow: 5px 5px 20px var(--primary-light-color);


}

.secondary-title {
    font-size: calc(30px + 4vw);
    text-shadow: 5px 5px 20px var(--primary-light-color);
}

.main-title-font {
    font-family: "Fleur De Leah", cursive;

}

.mainLetterTitle {
    color: var(--primary-color);
}

/* social */

.button-fb {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: var(--primary-dark-color);
    position: relative;
    transition: 1s;
    font-size: 40px;
}

.button-fb::after {
    position: absolute;
    content: "";
    top: -4px;
    left: -1px;
    height: 100%;
    width: 10px;
    border-left: 4px solid var(--primary-dark-color);
    border-top: 4px solid var(--primary-dark-color);
    border-bottom: 4px solid var(--primary-dark-color);
    transition: 1s;
}

.button-fb::before {
    position: absolute;
    content: "";
    top: -4px;
    right: -1px;
    height: 100%;
    width: 10px;
    border-right: 4px solid var(--primary-dark-color);
    border-top: 4px solid var(--primary-dark-color);
    border-bottom: 4px solid var(--primary-dark-color);
    transition: 1s;
}

.button-fb:hover::after,
.button-fb:hover::before {
    width: 100%;
}

.button-tt {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 1s;
    font-size: 40px;
}

.button-tt::after {
    position: absolute;
    content: "";
    top: -4px;
    left: -1px;
    height: 100%;
    width: 10px;
    border-left: 4px solid white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    transition: 1s;
}

.button-tt::before {
    position: absolute;
    content: "";
    top: -4px;
    right: -1px;
    height: 100%;
    width: 10px;
    border-right: 4px solid white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    transition: 1s;
}

.button-tt:hover::after,
.button-tt:hover::before {
    width: 100%;
}

.button-ig {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: red;
    position: relative;
    transition: 1s;
    font-size: 40px;
}

.button-ig::after {
    position: absolute;
    content: "";
    top: -4px;
    left: -1px;
    height: 100%;
    width: 10px;
    border-left: 4px solid red;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    transition: 1s;
}

.button-ig::before {
    position: absolute;
    content: "";
    top: -4px;
    right: -1px;
    height: 100%;
    width: 10px;
    border-right: 4px solid red;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    transition: 1s;
}

.button-ig:hover::after,
.button-ig:hover::before {
    width: 100%;
}

/* icona whatsapp */

.whatsapp-icon {
    font-size: 40px;
    /* Imposta la dimensione dell'icona */
    color: #25D366;
    /* Colore di WhatsApp */
    text-decoration: none;
    /* Rimuovi la sottolineatura del link */
    display: inline-block;
    /* Permette di fare clic facilmente sull'icona */
    transition: transform 0.3s;
    /* Aggiunge un effetto di transizione al clic */
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
    /* Effetto hover per ingrandire l'icona quando si passa sopra */
}

/* contatti */

#contacts{
    margin-top: 200px;
}

#we-are{
    margin-top: 200px;
}

#gallery{
    margin-top: 200px;
}